/* Stylesheet for: Paul Ramnora Web Site
        Hosted by: GitHub/Netlify 

   CREATED: 281017 03:04 AM GMT
   UPDATED: 281017 03:04 AM GMT
*/

/* Links */

a:link{
 text-decoration:none;
}

a:hover{
 text-decoration:underline;
 color:red;
}

/* Main */

body{
    font-family:arial,verdana,sans-serif;
    text-align:center;
}

/* ID's */

#idPaulRamnora,#idWebSite{
 padding:20px;
}

#idCopyrightMessage{
    background-color:black;
    color:white;
    font-weight:bold;
}

#idH1,#idCopyrightMessage{
 padding:5px;
}


/* Classes */
   
.clsDateTimeStamp{
    color:red;
    font-style:italic;
}
