/* Stylesheet for: Paul Ramnora Web Site
        Hosted by: GitHub/Netlify 

   CREATED: 281017 03:04 AM GMT
   UPDATED: 291017 03:11 AM GMT
*/

/* Nav */

nav{
 margin-top:30px;
}

nav a{
 background-color:black;
 color:white;
 padding:16px;
 text-decoration:none;
 border:1px solid yellow;
}

nav a#selected{
 background-color:red;
 color:white;
 padding:16px;
 text-decoration:none;
 border:2px solid black;
 font-weight:bold;
}

nav a:hover{
 background-color:grey;
 color:white;
 text-decoration:none;
 border:1px solid red;
}

/* Links */

a:link{
 text-decoration:none;
}

a:hover{
 text-decoration:underline;
 color:red;
}

/* Main */

body{
    font-family:arial,verdana,sans-serif;
    text-align:center;
}

/* ID's */

#idPaulRamnora,#idWebSite{
 padding:20px;
}

#idCopyrightMessage{
    background-color:black;
    color:white;
    font-weight:bold;
}

#idH1,#idCopyrightMessage{
 padding:5px;
}


/* Classes */
   
.clsDateTimeStamp{
    color:red;
    font-style:italic;
}
